
div{
  scroll-behavior:smooth;
}

#outer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#header {

    min-height: 50px;
    color: white;
    background-color: rgb(42, 79, 157);

    font-size: 14px;
  
  }

  #header a,.link {
    text-decoration: none;
    color: white;
    font-size: 16px;

  }


  #menu {
    min-height: 50px;
    background-color: blue;

  }


#main{

margin: 2%;

}
.col-sm-3{
margin-top: 5%;
}

#foot{ color: whitesmoke;
    font-weight: 400;
    font-size: 16px;
    min-height: 100px;
    text-align: justify;
    background-color: rgb(41, 72, 140);
}
  #footer {
    min-height: 50px;
    background-color: rgb(42, 79, 157);
    color: whitesmoke;
    font-weight: 400;
    font-size: 16px;
    text-align: center;

  }
  .col-md{
    min-height: 150px;
    margin: 1%;
    border: 1px solid black; border-radius: 5px;
    box-shadow: 3px 30px 40px rgb(183, 183, 183);
  }
  .col-sm img{
    box-shadow: 3px 30px 40px rgb(206, 204, 204);
  }
  .col-sm img  :hover{
    width: 800px;
    height: 400px;
   
    box-shadow: 3px 50px 50px inset;
  }

  p{
    font-size: 18px;
  }

#enquiry{
transform:rotate(270deg);
position:fixed;
top:450px;
}
 
#liveToast{
transform:rotate(90deg);
position:fixed;
top:450px;
right:20px;

animation-name:anim;
animation-duration:8s;
animation-delay:0s;
animation-iteration-count:infinite;
}
@keyframes anim {
  0% {
transform:rotate(90deg);
  }
  40%{background-color: yellow;
transform:rotate(180deg);}
 75%{background-color: green;
transform:rotate(270deg);}
 100%{background-color: yellow;
transform:rotate(360deg);}
}
